<div class="container">
 <div class="row">
  <div class="col-md-10 col-md-offset-1">
   <h4>＜マイ喫煙情報一覧画面＞</h4>
   <%= form_with model: @smoking_information, url:smoking_informations_path, local:true do |f| %>
    <table class="table">
     <h6>①累計本数、金額</h6>
     <tr>
      <th>本数</th>
      <td><%= f.text_field :total_number %>本</td>
     </tr>
     <tr>
      <th>金額</th>
      <td>
        <%#= link_to smoking_information_path(@user.id) do %>
         <%= f.text_field :total_amount %>円
        <%# end %>
      </td>
     </tr>
    </table>
    <table class="table">
     <h6>②禁煙日数</h6>
     <tr>
      <th></th>
      <td><%= f.text_field :no_smoking_days %>日継続中・・・</td>
     </tr>
    </table>
    <table class="table">
     <h6>③累計納税額</h6>
     <tr>
      <th>今までのあなたの納税額は・・・</th>
      <td><%= f.text_field :tax_payment_amount %>円です！</td>
     </tr>
     <h6>※たばこ1箱あたり６１．７％が税金です。</h6>
    </table>
    <%= f.submit 'マイ喫煙情報を保存' %>
   <% end %>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col">
   <div class="card">
    <div class="card-body text-center">
     <h6>①累計本数、金額</h6>
      <p>本数<%= @smoking_informations.total_number %>本</p>
      <p>金額<%= @smoking_informations.total_amount %>円</p>
     <h6>えらい！！</h6>
    </div>
   </div>
  </div>
  <div class="col">
   <div class="card">
    <div class="card-body text-center">
     <h6>②禁煙日数</h6>
      <p><%= @smoking_informations.no_smoking_days %>日</p>
    </div>
   </div>
  </div>
  <div class="col">
   <div class="card">
    <div class="card-body text-center">
     <h6>③累計納税額</h6>
      <p><%= @smoking_informations.tax_payment_amount %>円です！</p>
    </div>
   </div>
  </div>
 </div>
</div>

<% @smoking_informations.each do |smoking_information| %>
 <tr>
   <td><%= smoking_information.user_id %></td>
  <%= form_with model: smoking_information, local:true do |f| %>
   <td><%= f.select :total_number, [*1..10000], include_blank: "本数" %></td>
   <td><%= f.submit "更新" %></td>
  <% end %>
   <td><%= smoking_information.total_amount %></td>
   <td><%= smoking_information.no_smoking_days %></td>
   <td><%= smoking_information.tax_payment_amount %></td>
   <td><%= link_to "削除する", smoking_informations_path, method: :delete %></td>
 </tr>
<% end %>