<div class="container">
 <div class="row">
  <div class="col">
   ＜マイ喫煙情報詳細＞
    <div>
     <p><%#= @smoking_information.user_id %></p>
     <p>累計本数：<%= @smoking_information.total_number %>本</p>
     <p>累計金額：<%= @smoking_information.total_amount %>円</p>
     <p>禁煙日数：<%= @smoking_information.no_smoking_days %>日</p>
     <p>累計納税額：<%= @smoking_information.tax_payment_amount %>円です！</p>
     <%#= link_to "編集する", edit_smoking_information_path(user.id), class: "btn btn-success" %>
     <%= link_to "削除する", smoking_informations_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
 </div>
</div>