投稿一覧画面

<h1>投稿フォーム</h1>
<%= form_with model: @post, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>コメント</h4>
  <%= f.text_area :comment %>
  
  <div class="spot">
    <%= f.fields_for :spot do |s| %>
      <%= s.label :address, "レビュー場所(Google Mapで検索)", class: 'spot__title' %>
      <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'spot__text' %>
      <div class="input" onclick="codeAddress()", type="button", value="検索する"></div>
    <% end %>
    <div class="map" id: "map", style: "height: 320px; width: 640px;"></div>
  </div>
  
  <%= f.submit '投稿' %>
<% end %>
<%#= form_with(model: @post, local: true, multipart: true) do |f| %>
  
<%# end %>

<% @posts.each do |post| %>
<div>
  <p>投稿No.<%= post.id %></p>
  <%= link_to post_path(post.id) do %>
   <%= attachment_image_tag post, :image %>
  <% end %>
  <p>
    タイトル：
    <%= link_to post_path(post.id) do %>
     <%= post.title %>
    <% end %>
  </p>
  <p>コメント：<%= post.comment %></p>
  <p>ユーザーネーム：<%= post.user.user_name %></p>
  <p>投稿日時：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
  <% if post.liked_by?(current_user) %>
    <p>
      <%= link_to post_likes_path(post), method: :delete do %>
        ♥<%= post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(post), method: :post do %>
        ♡<%= post.likes.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>
<% end %>

<%= paginate @posts %>