<div class="container">
 <div class="row">
  <div class="col">
   <h4>＜検索・新規投稿・投稿一覧画面＞</h4>
   <h5>【投稿フォーム】</h5>
   <%= form_with model: @post, local:true do |f| %>
     <h6>画像</h6>
     <%= f.attachment_field :image %>
     <h6>タイトル</h6>
     <%= f.text_field :title %>
     <h6>コメント</h6>
     <%= f.text_area :comment %>
     <%= f.submit '投稿', class: "btn btn-secondary" %>
   <% end %>
  </div>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col">
<h5>【map】</h5>
<p>住所や駅名、目印などで検索できます。</p>
<form onsubmit="return false;">
 <input id="address" type="text" value="渋谷駅">
 <input type="button" value="検索" id="map_button" onclick="codeAddress()" class="btn btn-secondary">
</form>

<!-- 地図を表示させる要素 -->
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 1100px;
}
</style>

<script>
let map
let geocoder
// 下の1行を追加
const display = document.getElementById('display')

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.661777, lng: 139.704051},
    zoom: 12,
  });

}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {

      // 変換した緯度・経度情報を地図の中心に表示
      map.setCenter(results[0].geometry.location);

      //☆表示している地図上の緯度経度
      document.getElementById('lat').value=results[0].geometry.location.lat();
      document.getElementById('lng').value=results[0].geometry.location.lng();

      var marker = new google.maps.Marker({
          map: map,
          draggable: true,
    　　　　title:"Drag me!",
          position: results[0].geometry.location
      });

      //ここに挿入
      google.maps.event.addListener(map,'click',function(event) {

              marker = new google.maps.Marker({
              position: event.latLng,
              map: map,
              title: 'Click Generated Marker',
              draggable:true
              });
          }
      );

      google.maps.event.addListener(
          marker,
          'drag',
          function(event) {
              document.getElementById('lat').value = this.position.lat();
              document.getElementById('lng').value = this.position.lng();
              //alert('drag');
          }
      );

      google.maps.event.addListener(marker,'dragend',function(event) {
              document.getElementById('lat').value = this.position.lat();
              document.getElementById('lng').value = this.position.lng();
              alert('Drag end');
          }
      );

      // 下の1行を追加
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyezL_ScHfYIA3dFodDD0-9X1uBWGX9do&callback=initMap" async defer></script>



<p>マーカーのある位置の<br>
緯度 <input type="text" id="lat" value=""><br>
経度 <input type="text" id="lng" value=""><br>
地図上をクリックするとマーカーを移動できます。</p>

  </div>
 </div>
</div>

<div class="container">
 <h5>【投稿一覧】</h5>
  <div class="row">
   <div class="col">
    <!--検索フォーム-->
    <%= search_form_for @q do |f| %>
      <!--name_contは、あいまい検索を指定-->
      <%= f.text_field :title_cont %>
      <%#= f.label :title_or_comment, "Keyword" %>
  　　<%#= f.search_field :title_or_comment_cont %>
      <%= f.submit "検索" %>
    <% end %>
   </div>
  </div>
  <div class="row">
    <!--検索結果-->
    <% if @posts.present? %>
      <!--検索がヒットした場合-->
      <% @posts.each do |post| %>
       <div class="col-sm-3">
        <div class="card">
         <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image, class: "card-img-top" %>
         <% end %>
         <div class="card-body text-center">
          <div>
            <p>投稿No.<%= post.id %></p>
            <p>
              タイトル：
              <%= link_to post_path(post.id) do %>
               <%= post.title %>
              <% end %>
            </p>
            <p>コメント：<%= post.comment %></p>
            <p>ユーザーネーム：<%= post.user.user_name %></p>
            <p>投稿日時：<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
            <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
            <% if post.liked_by?(current_user) %>
              <p>
                <%= link_to post_likes_path(post), method: :delete do %>
                  ♥<%= post.likes.count %> いいね
                <% end %>
              </p>
              <% else %>
              <p>
                <%= link_to post_likes_path(post), method: :post do %>
                  ♡<%= post.likes.count %> いいね
                <% end %>
              </p>
            <% end %>
          </div>
         </div>
        </div>
       </div>
      <% end %>
    <% else %>
      <!--検索がヒットしなかった場合-->
      <p>検索結果はありません</p>
    <% end %>
 </div>
</div>
