<div class="container">
 <div class="row">
  <div class="col">
   ＜投稿詳細画面＞
    <div>
     <p>投稿No.<%= @post.id %></p>
     <%= attachment_image_tag @post, :image %>
     <p>タイトル：<%= @post.title %></p>
     <p>コメント：<%= @post.comment %></p>
     <p>ユーザーネーム：<%= @post.user.user_name %></p>
     <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
     <p>コメント件数：<%= @post.comments.count %></p>
     <%= link_to "編集する", edit_post_path(@post), class: "btn btn-success" %>
    </div>
  </div>
 </div>
</div>

<div class="container">
＜コメント一覧＞
 <div class="row">
    <% @comments.each do |comment| %>
     <div class="col-sm-3">
      <div class="card">
       <p><%#= image_tag('sample-author1.jpg') %></p>
       <p><%= comment.user.user_name %></p>
       <p><%= comment.comment_text %></p>
       <p><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></p>
       <p>
        <% if comment.user == current_user %>
         <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-danger" %>
        <% end %>
       </p>
      </div>
     </div>
    <% end %>
 </div>
</div>

<div class="container">
 <div class="row">
  <div class="col">
   <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :comment_text %>
    <br>
    <%= f.submit 'コメントする' %>
   <% end %>

   <%#= form_with(model:[@post, @comment], local: true) do |f| %>
    <%#= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%#= f.submit "送信する" %>
   <%# end %>

   <% if @post.liked_by?(current_user) %>
    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
    </p>
   <% end %>
  </div>
 </div>
</div>