投稿詳細画面

<div>
  <p>投稿No.<%= @post.id %></p>
  <%= attachment_image_tag @post, :image %>
  <p>タイトル：<%= @post.title %></p>
  <p>コメント：<%= @post.comment %></p>
  <p>ユーザーネーム：<%= @post.user.user_name %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  
  <div class="show">
   <div class="show_address">
    <%= @post.spot.address %>
   </div>
   <div class="show_maps>
    {id: "show_map", style: "height: 320px; width: 400px;"}
   </div>
  </div>
  
  <%= link_to "編集する", edit_post_path(@post) %>
</div>

<div>
<p>コメント件数：<%= @post.comments.count %></p>
<% @post.comments.each do |comment| %>
  <p><%#= image_tag('sample-author1.jpg') %></p>
  <%= comment.user.user_name %>
  <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %><%= comment.comment_text %>
  <% if comment.user == current_user %>
  <div>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div>
<%= form_with(model:[@post, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
<% if @post.liked_by?(current_user) %>
    <p>
      <%= link_to post_likes_path(@post), method: :delete do %>
        ♥<%= @post.likes.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_likes_path(@post), method: :post do %>
        ♡<%= @post.likes.count %> いいね
      <% end %>
    </p>
<% end %>