<!DOCTYPE html>
<html>
  <head>
    <title>WanderSmoker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="shadow-sm">
   <h5 class="my-0 mr-md-auto font-weight-normal">LOGO</h5>
   <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%#= image_tag('logo.png') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav ml-auto">
       <% if user_signed_in? %>
        <li>
        <%= link_to 'マイページ', users_my_page_path(current_user.id) %>
        </li>
        <li>
        <%= link_to 'マイ喫煙情報', smoking_informations_path %>
        </li>
        <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
       <% else %>
        <li>
        <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
        <%= link_to "ログイン", new_user_session_path %>
        </li>
       <% end %>
       </ul>
      </div>
    </div>
   </nav>
  </header>
 <%= yield %>
  <footer>
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

     <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#"><%= link_to "新着・投稿一覧", posts_path %></a>
      <a class="p-2 text-dark" href="#"><%#= link_to "お気に入り一覧", likes_user_path(current_user) %></a>

     </nav>
   </div>
  </footer>
</html>
