<!DOCTYPE html>
<html>
  <head>
    <title>WanderSmoker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <body>

  <header class="shadow-sm">
   <h5 class="ml-3">Wander Smoker 🚬</h5>
   <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-3" href="/"><%#= image_tag('logo.png') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class="navbar-nav ml-auto">
       <% if user_signed_in? %>
        <li>
         <%= link_to "トップページ", root_path %>
        </li>
        <li class="ml-3">
         <%= link_to "新着・投稿一覧", posts_path %>
        </li>
        <li class="ml-3">
         <%= link_to "お気に入り投稿一覧", likes_user_path(current_user) %>
        </li>
        <li class="ml-3">
         <%= link_to 'マイページ', users_my_page_path(current_user.id) %>
        </li>
        <li class="ml-3">
         <%= link_to 'マイ喫煙情報新規登録', smoking_informations_path %>
        </li>
        <li class="ml-3">
         <%= link_to 'マイ喫煙情報詳細', smoking_information_path(current_user.id) %>
        </li>
        <li class="ml-3">
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
       <% else %>
         <li>
          <%= link_to "トップページ", root_path %>
         </li>
         <li class="ml-3">
          <%= link_to "新規登録", new_user_registration_path %>
         </li>
         <li class="ml-3">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
         </li>
         <li class="ml-3">
          <%= link_to "ログイン", new_user_session_path %>
         </li>
       <% end %>

         <li class="ml-3">
          <% if current_user %>
           <%= current_user.id %>
          <% else %>
           ログインしていません
          <% end %>
         </li>
       </ul>
      </div>
    </div>
   </nav>
  </header>

  <main class="mb-auto">
   <%= yield %>
  </main>

  <div id="footer" class="fixed-bottom bg-dark text-white" style="height:30px; background-color: #f5af7d;">
   <div class="container">
    <div class="row no-gutters">
     <div class="col-md-4">
      <p>喫煙者が助け合うSNS</p>
     </div>
     <div class="col-md-4">
      <p>Wander Smoker 🚬</p>
     </div>
     <div class="col-md-4">
      <p>マナーを守って喫煙しましょう</p>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
